<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808061890860-3ea7pejmmroiru6jutb4pslc0i0i4397.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808061890860-3ea7pejmmroiru6jutb4pslc0i0i4397</string>
	<key>API_KEY</key>
	<string>AIzaSyBpgsIBn3S68NfwPpYQ8K-ekbY2o-VtWGg</string>
	<key>GCM_SENDER_ID</key>
	<string>808061890860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNotes</string>
	<key>PROJECT_ID</key>
	<string>flutterfirenotes-ad653</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirenotes-ad653.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808061890860:ios:e7fa89ab0f5bfbba4f7c89</string>
</dict>
</plist>